$primary: #390099;
$primary-low: rgba(56, 0, 153, 0.45);
$secondary: #0099ff;
$secondary-low: rgba(0, 153, 255, 0.45);
$danger: #ff0054;
$danger-low: rgba(255, 0, 85, 0.45);
$warning: #ffbd00;
$warning-low: rgba(255, 187, 0, 0.45);
$success: #00c542;
$success-low: rgba(0, 197, 66, 0.45);
$dark: #001d74;
$dark-low: rgba(0, 29, 116, 0.25);